<!-- Slider Component Container -->
<div class="flex flex-col items-center justify-center mt-32">
  <div class="flex flex-col">
    <!-- Page Scroll Progress -->
    <div class="fixed inset-x-0 top-0 z-50 h-0.5 mt-0.5
            bg-blue-500" :style="`width: ${percent}%`"></div>

    <!-- Navbar -->
    <nav class="flex justify-around py-4 bg-white/80
            backdrop-blur-md shadow-md w-full
            fixed top-0 left-0 right-0 z-10">

      <div class="flex items-center">
        <a class="cursor-pointer">
          <h3 class="text-2xl font-medium text-teal-500">
            <%= link_to 'Online chat', root_path, class: 'h-10 object-cover' %>
          </h3>
        </a>
      </div>

      <!-- Icon Menu Section -->
      <div class="flex items-center space-x-5">
        <% if user_signed_in? %>
          <!-- Logout -->
          <%= button_to "Log out", destroy_user_session_path, method: :delete,
                      class: "flex text-blue-600 hover:text-gray-500 cursor-pointer transition-colors duration-300
                      font-semibold text-blue-600" %>
        <% else %>
          <!-- Register -->
          <%= link_to "Register",  new_user_registration_path, class: "flex text-gray-600 hover:text-blue-500
                                                               cursor-pointer transition-colors duration-300" %>

          <!-- Login -->
          <%= link_to "Login",  new_user_session_path, class: "flex text-gray-600
                                                       cursor-pointer transition-colors duration-300
                                                       font-semibold text-blue-600" %>
      <% end %>

      </div>
    </nav>
  </div>
</div>